<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                <ul class="social-icon">
                    <li class="social-icon-item">
                        <a href="https://www.youtube.com/@smarttizim" class="social-icon-link bi-facebook"></a>
                    </li>
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>
                    <li class="social-icon-item">
                        <a href="https://www.youtube.com/@azizbekgulomov21" class="social-icon-link bi-youtube"></a>
                    </li>
                    <li class="social-icon-item">
                        <a href="https://smarttizim.uz" class="social-icon-link bi-globe"></a>
                    </li>
                    <li class="social-icon-item">
                        <a href="https://t.me/smarttizim" class="social-icon-link bi-telegram"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>